<div class="banner">
  <div class="banner__image">
    <img
      class="banner__image__poster"
      src="../../assets/p1F51Lvj3sMopG948F5HsBbl43C.jpg"
    />
  </div>
  <div class="banner__info">
    <div class="banner__info__div">
      <div>
        <h1 class="banner__info__div__title">THOR</h1>
        <h3 class="banner__info__div__subtitle">
          Após 14 anos, boa parte do sexteto original dos Vingadores se
          aposentou ou teve despedidas épicas ao se sacrificar pelo bem da
          humanidade. Enquanto novos rostinhos animados surgem prontos para
          salvar a galáxia de novos perigos, tem um veterano que parece não
          querer descansar tão cedo: Thor, personagem de Chris Hemsworth,
          embarca em sua quarta aventura solo. Mas, pela primeira vez, terá que
          dividir o posto de Deus do Trovão, pois a Poderosa Thor de Natalie
          Portman chegou em Amor e Trovão.Qual é a história de Thor: Amor e
          Trovão?Thor: Love and Thunder (no original) acompanha Thor numa
          jornada diferente de tudo que já enfrentou – uma busca pela paz
          interior, numa espécie de "crise da meia idade". Ao mesmo tempo que
          participa de batalhas ao lado dos Guardiões da Galáxia, após se unir
          ao grupo em Vingadores: Ultimato. Mas sua aposentadoria é interrompida
          por um assassino galáctico conhecido c
        </h3>
      </div>
      <button class="banner__info__div__button">Watch now</button>
    </div>
  </div>
</div>
