.lds-circle {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--eerie);
}
.lds-circle > div {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 8px;
  background-image: url('../assets/icon/Animate2.svg');
  animation: lds-circle 2.4s infinite;
}

.page{
  display: flex;
}

.moviesSlot{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

@keyframes lds-circle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(1800deg);
  }
  100% {
    transform: rotate(3600deg);
  }
}
