<nav class="nav">
  <div class="nav__menu">
    <img class="nav__menu__logo" src="../../assets/icon/Animate2.svg" />
    <div class="nav__menu__item">
      <img src="../../assets/icon/Home.svg" />
    </div>
    <div class="nav__menu__item">
      <img src="../../assets/icon/Movie.svg" />
    </div>
    <div class="nav__menu__item">
      <img src="../../assets/icon/TV.svg" />
    </div>
    <div class="nav__menu__item">
      <img src="../../assets/icon/Star Stroke.svg" />
    </div>
  </div>
</nav>
