<ion-text class="movieTitle">{{ moviesTitle }}</ion-text>
<ion-slides *ngIf="dataLoaded" class="moviesSlides" [options]="options">
  <ion-slide
    class=".{{ movie.id }}"
    [attr.data-internalID]="movie.id"
    (click)="onClick($event)"
    class="card-animado moviesSlides__slide"
    *ngFor="let movie of movies"
    >
    <ion-card button="true" class="moviesSlides__slide__card">
      <img
        class="moviesSlides__slide__card__poster"
        src="{{ imageURL + movie.poster_path }}"
      />
      <div class="moviesSlides__slide__card__poster__likes-container">
        <fa-icon class="regular" size="2x" [icon]="faThumbsUp"></fa-icon>
        <fa-icon
          class="disable solid"
          size="2x"
          [icon]="faThumbsUpSolid"
        ></fa-icon>
        <ion-text
          class="moviesSlides__slide__card__poster__likes-container__text"
          >{{ movie.likes ?? 0 }} Likes</ion-text
        >
      </div>
    </ion-card>
  </ion-slide>
</ion-slides>
